body {
    background-color: rgb(255, 255, 255);
}

p, h4 {
    margin: 3px;
}
img {
    width: 60%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 5px #ccc;
}
.image {
    display: flex;
    justify-content: center;
    
}
.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h4{
    color: rgb(124, 120, 120);
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 5px #ccc;
    border-radius: 20px;
    width: 15%;
    padding : 20px;
    margin: 40px 10px;
    font-size: 14px;
}
.infected{
    border-top: 7px solid rgb(245, 233, 61);
    border-bottom: 7px solid rgb(245, 233, 61);
}
.recovered{
    border-top: 7px solid rgb(86, 219, 33);
    border-bottom: 7px solid rgb(86, 219, 33);
}
.deaths{
    border-top: 7px solid rgb(134, 129, 129);
    border-bottom: 7px solid rgb(134, 129, 129)
}

.chart {
    width: 50%;
    margin-top: 20px;
}
.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
}
.footerImage {
    width: 50%;
    height: 55%;
}
.footerColor {
    background-color: lightblue;
}

@media (max-width: 678px) {
    .cardContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        font-size: 14px;
    }
    .cards {
        width: 75%;
        margin: 10px 10px;
    }
    img {
        width: 100%;
        border-radius: 0px;
    }
    .image {
        display: flex;
        justify-content: center;
    }
    .chart {
        width: 90%;
        margin-top: 20px;
    }
    .footerContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
        margin-left: 10%;
    }
    .footerImage {
        width: 80%;
        height: 55%;
    }
}


  